::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    z-index: 1231232123421 /*Tẹo thử xóa cmn đi*/
}
    ::-webkit-scrollbar:hover{
        
    }

::-webkit-scrollbar-track {
    width:6px;
    background-color: #bbb;
}

::-webkit-scrollbar-thumb {
    background-color: #808080;
    border-radius: 8px
}