main .table-wrapper{
    margin-top:16px;
    overflow-x:auto;
    overflow-y: auto;
}

main table{
    text-align:left;
    line-height:40px;
    border-collapse:collapse;
    background-color: #fff;
    
}
    table td,th{
        min-width: 130px;
    }
    table td.small,th.small{
        
    }

    table tr{
        border-bottom:1px solid #e5e5e5;
        height: 40px;
        background-color: #fff;
    }
    table tbody tr:nth-child(odd){
        background-color: #E9EBEE;
    }
    
    table tbody tr:hover{
        background-color:#e5e5e5;
        cursor:pointer;
    }
    .align-left{
        padding-left:16px;
        padding-right: 16px;
        text-align:left;
    }
    .align-center{
        padding-left: 16px;
        padding-right: 16px;
        text-align:center;
    }
    .align-right{
        padding-right:16px;
        padding-left: 16px;
        text-align:right;
    }