.m-toast-msg{  
    display: block;
    align-items: center;
    position: fixed;
    z-index: 999;
    bottom: 20px;
    right: 20px;
    height:48px;
    width: 200px;
    border-radius: 4px;
    border:1px solid #ccc;
    background-color: #fff;
}
    .m-toast-msg .m-toast-icon{
        float:left;
        width: 24px;
        height: 24px;
        background-image: url("../../asset/icon/x.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }